body
{   
    margin: 0;
    padding: 0;
   
}
header
{
    height: 200px;
     background: linear-gradient( #0175b2, #45a3d6);
}

#menu
{
   
	display: -webkit-flex;
	display: flex;
    background: rgba(0, 0, 0, 0.54);
   
}

.item
{
	display: -webkit-flex;
	display: flex;
	list-style:none;
   
}

.grupo
{
	padding:1em;
	border-radius:0.2em;
	
	
	}

.flex1
{
	-webkit-flex: 1;
	flex: 1;
	width:200px;
	min-width: 100px;
    background: radial-gradient(#51c888, #29a060);
    
	
	
	
}

.flex2
{
	-webkit-flex: 1;
	flex: 1;
	width:200px;
	min-width: 100px;
	
	  background: radial-gradient(#54aacb, #0175b2);

}

.flex3
{
	-webkit-flex: 1;
	flex: 1;
	width:200px;
	min-width: 100px;
	
	 background: radial-gradient(#672193, rgb(95, 86, 201));

	}


.nav1 figure
{
    
    background: #72d30f;
    color: white;
    width: 28%;
    padding: 2%;
    text-align: center;
    font-size:16px ;
    list-style: none;
    display: inline-block; 
}

   
.nav1:before, .nav1:after{
    content: "";
    display: table;
}
.nav1:after{
    clear: both;
}
#banner
{

}
#banner img
{
    width:100%;
    margin: 10px;
}
.caja2
{
position: absolute;
width: 100%;
background: #2fc272;
 
}

#lg
{
position: relative;
width:15%;
height:150%; 
lefht    
 
}
#lg img
{
  width: 90%;  
}
